<app-main>
  <ng-container>

    <br>
    <div>
      <div class="form-group">
        <label for="tasklistname">Create Task List</label>
        <input type="text" class="form-control" id="tasklistname" [(ngModel)]="taskListName" placeholder="Enter the name">
      </div>
      <button type="submit" class="btn btn-primary" (click)="createTaskList()">Create</button>
    </div>
    <br>

    <div class="container">
      <div class="row">
        <span><h2>TaskLists</h2></span>
      </div>
      <table class="table">
        <tr>
          <td>#</td>
          <td>Name</td>
          <td>Action</td>
          <td>Action</td>
        </tr>
        <tr *ngFor="let taskList of taskLists">
          <td>{{taskList.id}}</td>
          <td>{{taskList.name}}</td>
          <td>
            <a routerLink="/tasklists/{{taskList.id}}/">Details</a>
          </td>
          <td>
            <a routerLink="/tasklists/{{taskList.id}}/tasks">Tasks</a>
          </td>
        </tr>
      </table>
    </div>
  </ng-container>
</app-main>
