<ng-container>
  <app-main>
    <div class="row">
      <button type="button" class="btn btn-info btn-outline-info" style="color: aliceblue" (click)="navigateBack()">Go Back</button>
      <span><h2>TaskList task {{taskList.name}}</h2></span>
    </div>
    <br>
    <div>
      <div>
        <label>Create Task</label>
        <hr>
        <div class="form-group">
          <label for="taskname">Name</label>
          <input type="text" class="form-control" id="taskname" [(ngModel)]="taskName" placeholder="Enter the name">
        </div>
        <div class="form-group">
          <label for="taskdueon">Due On</label>
          <input type="text" class="form-control" id="taskdueon" [(ngModel)]="taskDueOn" placeholder="Enter the limit">
        </div>
        <div class="form-group">
          <label for="taskstatus">Status</label>
          <input type="text" class="form-control datepicker" id="taskstatus" [(ngModel)]="taskStatus" placeholder="Enter the status">
        </div>
        <button type="submit" class="btn btn-primary" (click)="createTask()">Create</button>
      </div>
    </div>
    <br>
    <table class="table">
      <tr>
        <td>#</td>
        <td>Name</td>
        <td>Status</td>
        <td>Action</td>
      </tr>
      <tr *ngFor="let task of tasks">
        <td>{{task.id}}</td>
        <td>{{task.name}}</td>
        <td>
          <a class="text-dark">{{task.status}}</a>
        </td>
        <td>
          <a routerLink="/tasks/{{task.id}}/">Details</a>
        </td>
      </tr>
    </table>
  </app-main>
</ng-container>
